.loc{
    display: inline-block;
    margin-left: 8%;
}
li h2 {
    display: inline-block;
}
li input {
    font-size: 18px;
}

#root li button.send{
    width: auto;
    margin-left: 26px;
    font-size: 18px;
    position: static;
    height: 28px;
    line-height: 1;
}